<div>
  <app-header>
    <div class="logout-info">
      <p>{{ name }}</p>
      <app-button [btnName]="logOut"></app-button>
    </div>
  </app-header>

  <app-search (onSearch)="search($event)"></app-search>

  <app-course [courses]="courses" [searchStr]="searchStr"></app-course>

  <app-modal></app-modal>

  <app-info [infoTitle]="infoTitle" [infoText]="infoText">
    <app-button [btnName]="addCourse"></app-button>
  </app-info>
</div>

<hr />

<app-login></app-login>

<hr />

<app-registration></app-registration>

<hr />

<app-course-edit></app-course-edit>
